html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("assets/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0f0f0f;
}

.video-wrapper {
  padding: 16px;
  border: 2px solid #ffffff33;
  background: #000000cc;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 40px #000000aa;
}

video {
  display: block;
  max-width: 90vw;
  max-height: 90vh;
}
